ReportingService/target
ReportingService/.mvn
ReportingService/.settings
ReportingService/mvnw
ReportingService/mvnw.cmd
ReportingService/.project
ReportingService/.classpath

Test/target

PersistenceManager/target
PersistenceManager/.mvn
PersistenceManager/.settings
PersistenceManager/mvnw
PersistenceManager/mvnw.cmd
PersistenceManager/.project
PersistenceManager/.classpath
Authentication_server/target
Authentication_server/.mvn
Authentication_server/.settings
Authentication_server/mvnw
Authentication_server/mvnw.cmd
Authentication_server/.project
Authentication_server/.classpath 
EngineService
Engine/target
Engine/.mvn
Engine/.settings
Engine/.project
Engine/.classpath
Engine/mvnw
Engine/mvnw.cmd
target
Api-Gateway/mvnw
Api-Gateway/mvnw.cmd
Api-Gateway/.mvn
Config-server/.settings
Config-server/.classpath
Config-server/.project
Config-server/target
eureka-server/.settings
eureka-server/target
eureka-server/.classpath
eureka-server/.project 
Task2
Task1
Task2/target
Task2/.classpath
Task2/.project
Task2/.springBeans
Task2/.settings
Task1/target
Task1/.classpath
Task1/.project
Task1/.springBeans
Task1/.settings
/.metadata/
/.metadata/
/.classpath/
/.project/
