#projecttitle{
    font-size: 20px;
}
.container{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
  }

#editanddelete{
    margin-left: 40%;
}

#workflowmodify{
  margin-left:65%;
}

.workflowtitle{
    font-size: 20px;
    padding-top: 15px;

}

#workflowcard{
    margin-bottom: 10px;
}
