.form-container {
  display: flex;
  flex-direction: column;
}
.heading{
  font-family: 'Spectral SC', serif;
  font-weight: 600;
  font-size: 2em;
  margin: 0px;
  top: 0px;
  bottom: 0px;
}

.form-container>* {
  width: 100%;
}

h2 {
  font-weight: normal;
  text-align: center;
}

#password-hide {
  cursor: pointer;
}

.container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.card{

  top: 50px;
}
body, html {
  height: 100%;
}
.wrapper{
  background-image: url("/assets/bg.jpg");
  
      /* Full height */
      height: 100%; 
  
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

.form-container {
  padding: 30px;
}

.mat-tab-group {
  width: 100%;
}

/deep/ .mat-tab-label {
  width: 50%;
}
