<mat-toolbar color="primary"> 
    <a _ngcontent-c1="" aria-label="Home" class=" docs-navbar docs-button mat-button" 
      mat-button=""   tabindex="0" aria-disabled="false" >
      <span class="mat-button-wrapper">
        <span>Home</span>
      </span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </a> 
    <a _ngcontent-c1="" aria-label="My Projects" class="docs-navbar-hide-small docs-button mat-button" 
      mat-button=""   tabindex="0" aria-disabled="false" >
      <span class="mat-button-wrapper">
        <span>My Projects</span>
      </span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
      </a> 
    <span class="fill-remaining-space"></span>
    <a _ngcontent-c1="" aria-label="Logout" class="docs-navbar-hide-small docs-button mat-button" 
      mat-button=""   tabindex="0" aria-disabled="false" >
      <span class="mat-button-wrapper" id="logout">
        <span>Logout</span>
      </span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </a> 
    
  </mat-toolbar>  
  