<input type="file" #fileUpload accept=".sh" hidden="true" (change)="fileEvent($event)" />

<div class="container" style="position: absolute; top:10%; left: 0px; right: 0px; bottom: 0px;">

  <button (click)="openDialog()" style="z-index: 10" mat-raised-button color="primary">
    <mat-icon>add_circle</mat-icon>
    <span>ADD TASK</span>
  </button>

  <button (click)="fileUpload.click()" style="z-index: 10" mat-raised-button color="accent">
    <mat-icon>file_upload</mat-icon>
    <span>UPLOAD CUSTOM SH FILE</span>
  </button>


  <div *ngIf="this.workflow.workFlowName" style="z-index: 10;position: fixed; left: 50px; bottom: 10px;">
    <p style="float :left; font-size: 25px;font-weight:500;" *ngIf="this.workflow.workFlowName">{{this.workflow.workFlowName}}</p>
  </div>

  <ul [hidden]="false" style="z-index: 10;position: fixed; right: 0px; bottom: 0%;" mat-raised-button color="primary">
    <li>
      <button (click)="executeWorkflow()" [routerLink]="['/executeworkflow']" mat-raised-button color="primary">
        <mat-icon>play_arrow</mat-icon>
        <span>EXECUTE</span>
      </button>
    </li>
    <li>
      <button *ngIf="!this.loadWorkflow" (click)="saveWorkflow()" mat-raised-button>
        <mat-icon>done_all</mat-icon>
        <span>SAVE</span>
      </button>
    </li>
    <li>
      <button *ngIf="this.loadWorkflow" (click)="updateWorkflow()" mat-raised-button>
        <mat-icon>done_all</mat-icon>
        <span>UPDATE</span>
      </button>
    </li>
    <li>
      <button (click)="deletemode()" mat-raised-button color="warn">
        <mat-icon>delete</mat-icon>
        <span>{{deleteModeButton}}</span>
      </button>
    </li>
    <li>
      <button (click)="openjsoneditor()" mat-raised-button color="accent">
        <mat-icon>code</mat-icon>
        <span>EDIT JSON</span>
      </button>
    </li>
    <li>
      <button (click)="openSettings()" mat-raised-button>
        <mat-icon>settings</mat-icon>
        <span>SETTINGS</span>
      </button>
    </li>
  </ul>
  <div>
    <main [class]="theme">
      <div class="chart-col">


        <div style="position: absolute; top:0px; left: 0px; right: 0px; bottom: 0px;">
          <ngx-charts-directed-graph class="chart-container" [view]="view" [legend]="showLegend" [links]="hierarchialGraph.links" (legendLabelClick)="onLegendLabelClick($event)"
            [nodes]="hierarchialGraph.nodes" [scheme]="colorScheme" [orientation]="orientation" [curve]="curve" (select)="select($event)">

            <ng-template #defsTemplate>
              <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
                <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
              </svg:marker>
            </ng-template>

            <ng-template #nodeTemplate let-node>
              <svg:g class="node" ngx-tooltip [tooltipPlacement]="'top'" [tooltipType]="'tooltip'" [tooltipTitle]="node.label">
                <svg:rect [attr.width]="node.width" [attr.height]="node.height" [attr.fill]="node.options.color" />
                <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.height / 2">{{node.label}}</svg:text>
              </svg:g>
            </ng-template>

            <ng-template #linkTemplate let-link>
              <svg:g class="edge">
                <svg:path class="line" stroke-width="2" marker-end="url(#arrow)">
                </svg:path>
                <svg:text class="edge-label" text-anchor="middle">
                  <textPath class="text-path" [attr.href]="'#' + link.id" [style.dominant-baseline]="link.dominantBaseline" startOffset="50%">
                    {{link.label}}
                  </textPath>
                </svg:text>
              </svg:g>
            </ng-template>

          </ngx-charts-directed-graph>
        </div>
      </div>

    </main>
  </div>
</div>
