#projecttitle {
  font-size: 20px;
}

.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

.app-fab--absolute {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.workflowtitle {
  font-size: 20px;
  padding-top: 15px;
}

#workflowcard {
  margin-bottom: 10px;
}

