#projecttitle{
    font-size: 20px;
}
.container{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
  }
 

#workflowmodify{
  margin-right:0%;
}

.workflowtitle{
    font-size: 20px;
    padding-top: 15px;

}

#workflowcard{
    margin-bottom: 10px;
}
