<app-navbar></app-navbar> 
<div class="container"> 
     <mat-card> 
            <mat-card-header>
         <mat-card-title>
           Workflows
         </mat-card-title> 
        </mat-card-header>
       <mat-card-content>
         <mat-card id="workflowcard"  *ngFor = "let data of datas">
           <mat-card-header>
               <mat-card-title class="workflowtitle">{{data.workFlowName}}</mat-card-title>
               <span class="fill-remaining-space"></span>
                 <mat-card-actions id="workflowmodify">
                   <button mat-raised-button (click) = "getTask(data.workFlowName);">VIEW <i class="material-icons">visibility</i></button>
                   <button mat-raised-button>MODIFY <i class="material-icons">cached</i></button>
                 </mat-card-actions>
               </mat-card-header>
             </mat-card>
        </mat-card-content> 
        </mat-card>
        
 </div>