<header>
    <div layout="row">
        <div flex="5">
        </div>
        <div flex="20" flexXs="40">
                <p class="brandname">{{ title }}</p>
        </div> 
        <div flex="80"></div>
        <div flex="20">
                <p class="nav">Get Started</p>
        </div>
        <div flex="20">
                <p class="nav">Support</p>
        </div>
        <div flex="20">
                <p class="nav">About Us</p>
        </div>
    </div>
</header>
<div class="hero">
    <div layout="row">
        <div flex="20"></div>
        <div flex="60">
            <p class="heroheader">#Distributed_Workflow_engine</p>
            <p class="herosub">A CICD WorkFlow</p>
            <p class="herosub">  <button mat-raised-button color="primary">LogIn/SignUp</button>
            </p>
            <p class="herofooter">Let's Get started</p>
            <p class="herofooterarrow"><a data-scroll="#about" ><i class="down"></i></a></p>

            
        </div>
        <div flex="20"></div>
    </div>
</div>
<div id="about">
    <div layout="row">
        <div flex="5"></div>
        <div flex="40">
            <p class=""><strong> Lets get started with DAMP</strong></p>
            <p>DAMP provides a simple user interface to excute a project in one click using a distributed workflow system</p>
            <p>Use the simple Drag and Drop Feature to setup a workFlow and excute </p>
            <p>Edit your workflow in JSON formate</p>
            <p>Different roles assigned to user for execution of workflow </p>

        </div>
    </div>
</div> 
<div class="aboutus">
    <div layout="row">
        <div flex="10"></div>
        <div flex="80">
            <p class="aboutusheader">Our Team</p>
        </div>
        <div flex="10"></div>
    </div>
    <div layout="row">
        <div flex="20">
            <img src="https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/21765075_1573409792681522_5071018646399109318_n.jpg?oh=1198c5ac12e3af1685606ff25b5edf3b&oe=5AA25B7A" alt="profile picture" class="profileimg">
            
        </div>
        <div flex="20">
            <img src="" alt="profile picture" class="profileimg">
            
        </div>
        <div flex="20"></div>
        <div flex="20"></div>
        <div flex="20"></div>
    </div>
</div>