<app-navbar></app-navbar> 
<mat-card class="container">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
          <mat-icon>face</mat-icon> <span> Your Infomation</span>
      </ng-template> 
      <div class="info">
        <div class="fields">
          <p>Name</p>
          <p>Email</p> 
        </div>
        <div class="values">
            <p>Akshay Dharamkar</p>
            <p>akshay.dharamkar@gmail.com</p> 
        </div>
      </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>settings</mat-icon>  <span> Edit Infomation</span>
        </ng-template>
    </mat-tab> 
  </mat-tab-group>
</mat-card>