<div class="container">
  <mat-card style="overflow:auto">

    <mat-card-content>
      <h1 style="text-align: center;"> Workflow Execution Frequency</h1> 
      <div *ngIf="(this.statuscode == 0)">
        <h2>Sorry!</h2>
        <p>Not able to retreive data, Please try again later.</p>
        <img src="/assets/error.jpg">
      </div>
      <div *ngIf="!(this.statuscode == 0)">
        <div *ngIf="noWorkflows" style="text-align:center">
          <p>No workflows found. Try creating and executing workflows to view your workflow execution frequency.</p>
          <button mat-raised-button color="primary" aria-label="Add Workflow" (click)="viewmodeexit()" [routerLink]="['/addworkflow']">
            <i class="material-icons">add_circle</i> Create workflow
          </button>
        </div>
        <div *ngIf="!(noWorkflows || showHeatMap)" style="margin-left:45%;margin-top:10%">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
        <div *ngIf="showHeatMap">
          <ngx-charts-heat-map [view]="view" [scheme]="colorScheme" [results]="workflowList" [legend]="showLegend" [gradient]="gradient"
            [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
          </ngx-charts-heat-map>
        </div>

      </div>
    </mat-card-content>
  </mat-card>
  <div matTooltip="Add a new workflow!" class="app-fab--absolute" matTooltipPosition="left">
    <button mat-fab color="primary" aria-label="Add Workflow" (click)="viewmodeexit()" [routerLink]="['/addworkflow']">
      <i class="material-icons">add_circle</i>
    </button>
  </div>
</div>