
<app-navbar></app-navbar> 
<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Your projects</mat-card-title> 
    </mat-card-header>
    <mat-card-content>
      <!-- <p>Your recently executed projects.</p> -->
      <a mat-raised-button color="primary" href="/executeworkflow">
        <span class="mat-button-wrapper" id="workflow">
          <mat-icon>done_all</mat-icon> <span>Execute CI-CD Workflow</span>
        </span>
        <div class="mat-button-ripple mat-ripple" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </a>
    </mat-card-content>
  </mat-card>
</div>

